body {
    background-color: black;
    color: aliceblue;
}
#welcome-section {
    display: block;
    text-align: end;
    background-color: red;
}
div > ul {
    display: inline-flex;
    list-style: none;
    
}
ul > li {
    padding-left: 20px;
    padding-right: 10px;
}
li > a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;

}
ul > li > a:hover {
    background-color: cadetblue;
    padding: 15px;
}
.hdp {
    text-align: center;
    display: flex;
    justify-self:center;

}
.hdp > h1 {
    font-family: sans-serif;
    font-size: 50px;
}
.hdp > p {
    color: rgb(255, 0, 0);
    font-size: xx-large;
}